&.inventory {
  .content {
    overflow-y: hidden;

    padding-right: 0;

    .inventory {
      display: flex;
      flex-direction: column;

      overflow: hidden;
    }
  }

  .inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .money {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    label {
      margin-right: 8px;
    }

    input {
      width: 6em;
    }
  }

  .cypher-count {
    input {
      width: 3em;

      &:disabled {
        border-color: #0b6b2b;

        &.over {
          border-color: #bd1b1b;
        }
      }
    }
  }

  .filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    strong {
      flex: 0 1 0;

      margin-right: 1em;
    }

    > span {
      margin-right: 4px;
    }
  }

  .add-inventory {
    margin-left: 8px;
    font-size: 1.1em;
  }

  .wrapper {
    overflow: hidden;
  }

  ul.inventory-list {
    overflow-y: auto;

    margin: 0;
    padding: 0 0 0 0.5em;

    li {
      font-size: 1.2em;
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 8px;
      }

      .icons {
        font-size: 0.8em;
        vertical-align: middle;
      }

      a.active {
        color: #b72020;
      }
    }
  }

  .inventory-info {
    overflow-y: auto;

    padding-right: 1em;

    > .grid {
      align-items: center;
    }

    .actions {
      font-size: 1.1em;

      a:not(:last-child) {
        margin-right: 4px;
      }
    }
  }
}
