@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,400;1,700&display=swap');

$font-primary: 'Karla',
sans-serif;
$font-secondary: 'Karla',
sans-serif;

body {
  font-size: 14px;
}

.monospace {
  font-family: monospace, monospace;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

h1,
h2 {
  padding-bottom: 4px;
}