<div class="inventory">
  <div class="grid no-margins">
    <div class="money">
      <label for="data.money">{{currencyName}}</label>
      <input type="number" name="data.money" value="{{data.money}}" min="0" class="money" data-dtype="Number" />
    </div>

    <div class="filters">
      <strong>{{localize "CSR.heading.filter"}}</strong>
  
      <select name="inventoryTypeFilter" data-dtype="Number">
        <option value="-1" data-dtype="Number">{{localize "CSR.heading.type"}}</option>
  
        {{#select inventoryTypeFilter}}
        {{#each inventoryTypes as |type idx|}}
        <option value="{{@index}}" data-dtype="Number">{{localize (concat "CSR.inventory." this)}}</option>
        {{/each}}
        {{/select}}
      </select>
  
      <a class="add-inventory"><i class="fas fa-plus"></i></a>
    </div>
  </div>

  <hr>

  <div class="grid wrapper">
    <ul class="inventory-list">
      {{#each data.items.inventory as |item|}}
      <li class="no-pip">
        <a class="inv-item {{#if (eq item._id ../selectedInvItem._id)}}active{{/if}}" data-id="{{item._id}}"><span class='monospace icons'>{{{typeIcon item.type}}}</span> {{item.name}}</a>
      </li>
      {{/each}}
    </ul>

    <div class="inventory-info">
      {{{invItemInfo}}}
    </div>
  </div>
</div>
