<div class="recovery">
  <div class="grid">
    <div class="roll">
      <div class="input-group">
        <label for="data.recovery">1d6&nbsp;+</label>
        <input type="number" name="data.recoveryMod" value="{{data.recoveryMod}}" min="0" max="99" data-dtype="Number"
          title="{{localize 'CSR.recoveryInputTooltip'}}" />
  
        <a class="recovery-roll"><i class="fas fa-dice-d20"></i></a>
      </div>
    </div>
  
    <div class="input-group">
      <label for="data.armor">Armor</label>
      <input type="number" name="data.armor" value="{{data.armor}}" class="armor" min="0" max="99" data-dtype="Number" />
    </div>
  </div>
  
  <ul class="grid actions">
    {{#each recoveriesData as |recovery|}}
    <li class="no-pip">
      <div class="checkbox">
        <input type="checkbox" name="data.recoveries.{{recovery.key}}" id="data.recoveries.{{recovery.key}}"
          data-dtype="Boolean" {{checked recovery.checked}} />
        <label for="data.recoveries.{{recovery.key}}">{{recovery.label}}</label>
      </div>
    </li>
    {{/each}}
  </ul>
</div>