<div class="skills">
  <div class="filters">
    <strong>{{localize "CSR.heading.filter"}}</strong>

    <select name="skillsPoolFilter" data-dtype="Number">
      <option value="-1" data-dtype="Number">{{localize "CSR.heading.pool"}}</option>

      {{#select skillsPoolFilter}}
      {{#each stats as |stat idx|}}
      <option value="{{idx}}" data-dtype="Number">{{localize (concat "CSR.pool." (toLowerCase this))}}</option>
      {{/each}}
      {{/select}}
    </select>

    <select name="skillsTrainingFilter" data-dtype="Number">
      <option value="-1" data-dtype="Number">{{localize "CSR.heading.training"}}</option>

      {{#select skillsTrainingFilter}}
      {{#each trainingLevels as |training idx|}}
      <option value="{{idx}}" data-dtype="Number">{{localize (concat "CSR.training." (toLowerCase this))}}</option>
      {{/each}}
      {{/select}}
    </select>

    <a class="add-skill"><i class="fas fa-plus"></i></a>
  </div>

  <hr>

  <div class="grid">
    <ul class="skill-list">
      {{#each data.items.skills as |skill|}}
      <li class="no-pip">
        <a class="skill {{#if (eq skill._id ../selectedSkill._id)}}active{{/if}}" data-id="{{skill._id}}"><span class='monospace icons'>{{{poolIcon skill.data.pool}}}{{{trainingIcon skill.data.training}}}</span> {{skill.name}}</a>
      </li>
      {{/each}}
    </ul>

    <div class="skill-info">
      {{{skillInfo}}}
    </div>
  </div>
</div>
