<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" height="150" width="150" />

    <div class="sentence">
      <div class="flexrow">
        <input class="name" type="text" name="actor.name" value="{{actor.name}}" data-dtype="String" />
        <span> is a </span>
      </div>
      <div class="flexrow">
        <input class="descriptor" type="text" name="data.sentence.descriptor" value="{{data.sentence.descriptor}}"
          placeholder="{{localize 'CSR.placeholder.descriptor'}}" data-dtype="String" />
        <input class="type" type="text" name="data.sentence.type" value="{{data.sentence.type}}"
          placeholder="{{localize 'CSR.placeholder.type'}}" data-dtype="String" />
      </div>
      <div class="flexrow">
        <span> who </span>
        <input class="focus" type="text" name="data.sentence.focus" value="{{data.sentence.focus}}"
          placeholder="{{localize 'CSR.placeholder.focus'}}" data-dtype="String" />
      </div>
    </div>
  </header>

  <div class="content">
    {{!-- Sheet Tab Navigation --}}
    <nav class="sheet-tabs" data-group="primary">
      <ul>
        <li><a class="item" title="{{localize 'CSR.tooltip.stats'}}" data-tab="stats"><i class="fas fa-vial"></i></a></li>
        <li><a class="item" title="{{localize 'CSR.tooltip.skills'}}" data-tab="skills"><i class="fas fa-hiking"></i></a></li>
        <li><a class="item" title="{{localize 'CSR.tooltip.abilities'}}" data-tab="abilities"><i class="fas fa-book"></i></a></li>
        <li><a class="item" title="{{localize 'CSR.tooltip.inventory'}}" data-tab="inventory"><i class="fas fa-shield-alt"></i></a></li>
        <li><a class="item" title="{{localize 'CSR.tooltip.biography'}}" data-tab="bio"><i class="fas fa-pen-nib"></i></a></li>
      </ul>
    </nav>

    {{!-- Sheet Body --}}
    <section class="sheet-body">

      {{!-- Stats Tab --}}
      <div class="tab stats" data-group="primary" data-tab="stats">
        <h1>Stats</h1>

        <div class="content">
          {{> "systems/cyphersystemClean/templates/actor/partials/pools.html"}}

          <hr>

          <nav class="stats-tabs" data-group="secondary">
            <a class="item" data-tab="advancement"><i class="fas fa-sort-numeric-up"></i> Advancement</a>
            <a class="item" data-tab="damage"><i class="fas fa-heartbeat"></i> Damage Track</a>
            <a class="item" data-tab="recovery"><i class="fas fa-medkit"></i> Recovery</a>
          </nav>

          <hr>

          <section class="stats-body">
            <div class="tab advancement" data-group="secondary" data-tab="advancement">
              {{> "systems/cyphersystemClean/templates/actor/partials/advancement.html"}}
            </div>

            <div class="tab damage" data-group="secondary" data-tab="damage">
              {{> "systems/cyphersystemClean/templates/actor/partials/damage-track.html"}}
            </div>

            <div class="tab recovery" data-group="secondary" data-tab="recovery">
              {{> "systems/cyphersystemClean/templates/actor/partials/recovery.html"}}
            </div>
          </section>
        </div>
      </div>

      {{!-- Skills Tab --}}
      <div class="tab skills" data-group="primary" data-tab="skills">
        <h1>Skills</h1>

        <div class="content">
          {{> "systems/cyphersystemClean/templates/actor/partials/skills.html"}}
        </div>
      </div>

      {{!-- Abilities Tab --}}
      <div class="tab abilities" data-group="primary" data-tab="abilities">
        <h1>Abilities</h1>

        <div class="content">
          {{> "systems/cyphersystemClean/templates/actor/partials/abilities.html"}}
        </div>
      </div>

      {{!-- Inventory Tab --}}
      <div class="tab inventory" data-group="primary" data-tab="inventory">
        <h1>Inventory</h1>

        <div class="content">
          {{> "systems/cyphersystemClean/templates/actor/partials/inventory.html"}}
        </div>
      </div>

      {{!-- Biography Tab --}}
      <div class="tab biography" data-group="primary" data-tab="bio">
        <h1>Bio</h1>

        <div class="content">
          {{editor content=data.biography target="data.biography" button=true owner=owner editable=editable}}
        </div>
      </div>

    </section>

    <div class="contextmenu">
      <div class="container"></div>
    </div>
  </div>
</form>