&.armor-window {
  min-width: 650px;
  min-height: 600px;
}

.armor-sheet {
  input[type="number"] {
    width: 10em;
  }

  .desc-wrapper {
    flex: 1;

    label {
      flex: 0 1 0;

      margin-bottom: 4px;
    }
  }
}
