&.artifact-window {
  min-width: 575px;
  min-height: 600px;
}

.artifact-sheet {
  input[name="data.level"] {
    width: 5em;
  }
  
  .desc-wrapper {
    flex: 1;

    label {
      flex: 0 1 0;

      margin-bottom: 4px;
    }
  }
}
