&.npc-window {
  min-width : 672px;
  min-height: 600px;

  max-width: 1280px;
  max-height: 960px;

  .window-content {
    display: flex;
    flex-direction: column;

    height: 100%;
    
    .profile-img {
      flex: 0 1 0;
      width: 100%;
      height: auto;
    }

    .lhs {
      flex: 0 1 33%;
  
      margin-right: 1em;
    }
  
    .rhs {
      height: 100%;
  
      padding: 8px;
  
      div:not(:last-child),
      hr {
        flex: 0 1 0;
      }
  
      .grid {
        align-items: center;
      }

      .main-line {
        display: flex;
        align-items: center;
        
        * {
          font-size: 1.5rem;

          &:not(:last-child) {
            margin-right: 8px;
          }
        }

        input {
          height: 1.5em;
        }

        .level {
          display: flex;
          align-items: center;
  
          label {
            margin-right: 8px;
  
            font-weight: bold;
          }

          input {
            width: 3em;
          }
        }
      }
    }
  }
}
