<form class="{{cssClass}} csr item-sheet armor-sheet" autocomplete="off" id="armor-sheet-{{item._id}}">
  <h1><input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'CSR.placeholder.armorName'}}" /></h1>

  <div class="flexrow">
    <div class="flexcol lhs">
      <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" height="150" width="150" />
    </div>

    <div class="flexcol rhs">
      <div class="grid">
        <label>{{localize "CSR.heading.quantity"}}</label>

        <div class="flex-right">
          <input type="number" name="data.quantity" value="{{data.quantity}}" class="quantity" data-dtype="Number" />
        </div>
      </div>

      <hr>

      <div class="grid">
        <label>{{localize "CSR.heading.equipped"}}</label>

        <div class="flex-right">
          <div class="checkbox no-label">
            <input type="checkbox" name="data.equipped" id="data.equipped" data-dtype="Boolean" {{checked data.equipped}} />
            <label for="data.equipped">&nbsp;</label>
          </div>
        </div>
      </div>

      <hr>

      <div class="grid">
        <label>{{localize "CSR.heading.weight"}}</label>

        <div class="flex-right">
          <select name="data.weight" data-dtype="Number">
            {{#select data.weight}}
            {{#each weightClasses}}
            <option value="{{@index}}">{{localize (concat 'CSR.weight.' this)}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      <hr>

      <div class="grid">
        <label>{{localize "CSR.heading.armor"}}</label>

        <div class="flex-right">
          <input type="number" name="data.armor" value="{{data.armor}}" data-dtype="Number" />
        </div>
      </div>

      <hr>

      <div class="grid">
        <label>{{localize "CSR.heading.additionalSpeedEffortCost"}}</label>

        <div class="flex-right">
          <input type="number" name="data.additionalSpeedEffortCost" value="{{data.additionalSpeedEffortCost}}" data-dtype="Number" />
        </div>
      </div>

      <hr>

      <div class="grid">
        <label>{{localize "CSR.heading.price"}}</label>

        <div class="flex-right">
          <input type="number" name="data.price" value="{{data.price}}" class="price" data-dtype="Number" />
        </div>
      </div>

      <hr>

      <div class="flexcol desc-wrapper">
        <label>{{localize "CSR.heading.description"}}</label>
        <textarea class="description" name="data.notes">{{data.notes}}</textarea>
      </div>
    </div>
  </div>
</form>