<form class="{{cssClass}} csr sheet-container skill-sheet" autocomplete="off" id="skill-sheet-{{item._id}}">
  <h1><input type="text" name="name" value="{{item.name}}" placeholder="{{localize 'CSR.placeholderSkillName'}}" /></h1>

  <div class="flexrow">
    <div class="flexcol lhs">
      <img class="profile-img" src="{{item.img}}" title="{{item.name}}" data-edit="img" height="150" width="150" />
    </div>

    <div class="flexcol rhs">
      <div class="grid">
        <label>{{localize "CSR.heading.pool"}}</label>

        <div class="flex-right">
          <select name="data.stat">
            {{#select data.stat}}
            {{#each stats}}
            <option value="{{this}}">{{localize (concat 'CSR.pool.' (toLowerCase this))}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      <hr>

      <div class="grid">
        <label>{{localize "CSR.heading.training"}}</label>

        <div class="flex-right">
          <select class="select-skill-level" name="data.training">
            {{#select data.training}}
            {{#each trainingLevels}}
            <option value="{{@key}}">{{localize (concat 'CSR.training.' (toLowerCase this))}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>

      <hr>

      <div class="flexcol desc-wrapper">
        <label>{{localize "CSR.heading.description"}}</label>
        <textarea class="description" name="data.notes">{{data.notes}}</textarea>
      </div>
    </div>
  </div>
</form>